@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IEnumerable<PlantTrade.Models.Item>

@{
    ViewData["Title"] = "Homepagina";
}

<div class="home-content">
    <div class="text-center row justify-content-center">
        <h1 class="display-4 col-12">Welkom bij StekOverflow!</h1>
        <p class="mt-5 col-12" style="color: #6AB547;">
            <font size="+2">
                <strong>
                    Stekje over? Teveel planten op je balkon? Op zoek naar een nieuwe soort?<br />
                    Op deze site kun je makkelijk zaden en planten met elkaar ruilen of weggeven.
                </strong>
            </font>
        </p>
        <p class="mt-5 mb-5 col-md-9">
            <font size="+1">
                WAAR HET OM GAAT<br />
            </font>
            <font>
                Meer groen is goed voor bijen, vlinders en andere dieren (biodiversiteit). Maar dan moet dat wel groen zijn, zónder gif! In tuincentra en supermarkten zijn gifvrije planten moeilijk verkrijgbaar én prijzig. StekOverflow biedt groenliefhebbers een platform om goedkoop planten, zaden én kennis met elkaar te delen, zónder gif!
            </font>
        </p>
    </div>

    <div class="cards row justify-content-center">

        @foreach (var item in Model)
        {
            <div class="card col-sm-12 col-md-5 col-lg-2">
                <img src=@Html.DisplayFor(modelItem => item.Picture) class="card-img-top" alt="Item" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Kind)</p>
                    <a asp-controller="Items" asp-action="ViewItem" asp-route-id="@item.Id" class="btn btn-primary">Zie meer</a>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="feedback-div">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-primary-feedback mb-2" asp-controller="Feedback" asp-action="Feedback" asp-route-page="Home pagina" asp-route-userId="@UserManager.GetUserId(User)">Feedback</a>
            }
            else
            {
                <a class="btn btn-primary-feedback mb-2" asp-controller="Feedback" asp-action="Feedback" asp-route-page="Home pagina">Feedback</a>
            }
        </div>
    </div>
</div>