@model PlantTrade.Models.Feedback

@{
    ViewData["Title"] = "Feedback";
}

<script>
    function checkEmpty() {
        var desEmpty = document.getElementById("inputFeedback").value.length == 0;
        if (desEmpty) {
            document.getElementById("inputSubmit").setAttribute('disabled', 'disabled');
        }
        else {
            document.getElementById("inputSubmit").removeAttribute("disabled");
        }
    }
</script>

<div class="row justify-content-center">
    <div class="col-sm-11 col-md-9 col-lg-7 text-center">
        <form asp-action="CreateFeedback" enctype="multipart/form-data">
            <input type="hidden" asp-for="Page" />
            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="FeedbackText" class="control-label display-4 mb-3">
                    Feedback
                </label>
                <textarea id="inputFeedback" type="text" asp-for="FeedbackText" class="form-control" oninput="checkEmpty()" rows="6" style="resize:none;" maxlength="500"></textarea>
                <span asp-validation-for="FeedbackText" class="text-danger"></span>
            </div>

            <input id="inputSubmit" type="submit" value="Versturen" class="btn btn-primary" disabled />

        </form>
    </div>
</div>