@{
    ViewData["Title"] = "Feedback Conformatie";
}


<div class="row justify-content-center">
    <div class="col-sm-11 col-md-9 col-lg-7 text-center mt-lg-3 mt-md-3 mt-sm-3">
        <div class="form-group">
            <h1 class="display-4">Bedankt voor uw feedback</h1>
            <p>
                <font size="+1">
                    Uw feedback is naar de beheerder van de site gestuurd.
                </font>
            </p>
        </div>
    </div>
</div>