@model PlantTrade.Models.Tutorial

@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Tutorial Aanmaken";
}

<script>
    function checkEmpty() {
        var titleEmpty = document.getElementById("TitleInput").value.length == 0;
        var linkEmpty = document.getElementById("LinkInput").value.length == 0;
        var link = document.getElementById("LinkInput").value

        if (titleEmpty || linkEmpty) {
            document.getElementById("inputSubmit").setAttribute('disabled', 'disabled');
            document.getElementById("checkText").style.display = "block";
        }
        else {
            if (link.includes("youtube") && link.includes("watch")) {
                document.getElementById("inputSubmit").removeAttribute("disabled");
                document.getElementById("checkText").style.display = "none";
            }
            else {
                document.getElementById("inputSubmit").setAttribute('disabled', 'disabled');
                document.getElementById("checkText").style.display = "block";
            }
        }
    }
</script>

<h1 class="display-4 text-center">Tutorials</h1>

<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="CreateTut">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Available" value="1" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titel *</label>
                <input id="TitleInput" asp-for="Title" class="form-control" oninput="checkEmpty()" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label">Link <small>(dit moet een youtube link zijn)</small> *</label>
                <input id="LinkInput" asp-for="Link" class="form-control" oninput="checkEmpty()" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <div id="checkText" class="mb-1">
                    Vul in alle velden met een * erachter
                </div>
                <input id="inputSubmit" type="submit" value="Aanmaken" class="btn btn-primary" disabled />
                <a class="btn btn-primary" asp-action="mijnTutorials">Terug naar tutorials</a>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="feedback-div">
        <a class="btn btn-primary-feedback mb-2" asp-controller="Feedback" asp-action="Feedback" asp-route-page="Create-Tutorial pagina" asp-route-userId="@UserManager.GetUserId(User)">Feedback</a>
    </div>
</div>