@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Email bevestigd</h1>
<h2>U kunt nu inloggen met uw account</h2>
<div class="row">
    <div class="feedback-div">
            <a class="btn btn-primary-feedback mb-2" asp-controller="Feedback" asp-action="Feedback" asp-route-page="Ruilen pagina">Feedback</a>
    </div>
</div>