@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<h1>Wachtwoord vergeten?</h1>
<h4>Vul uw email in.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Indienen</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="feedback-div">
        <a class="btn btn-primary-feedback mb-2" asp-controller="Feedback" asp-action="Feedback" asp-route-page="Ruilen pagina">Feedback</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
