@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="text-center">
    <h1 class="mt-5">Bevestig wachtwoord vergeten</h1>
    <p class="mt-3">
        Uw krijgt een mail om uw wachtwoord te veranderen. Dit kan enkele minuten duren.
    </p>
</div>

