@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<script>
    function showFunc() {
        var checked = document.getElementById("showPass").checked;
        if (checked) {
            $("#password").attr("type", "text");
        } else {
            $("#password").attr("type", "password");
        }
    };

    function showConfirmFunc() {
        var checked = document.getElementById("showConfPass").checked;
        if (checked) {
            $("#confPassword").attr("type", "text");
        } else {
            $("#confPassword").attr("type", "password");
        }
    };
</script>

<h1>Reset wachtwoord</h1>
<h4>Reset uw wachtwoord.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input id="password" asp-for="Input.Password" class="form-control" />
                <input type="checkbox" id="showPass" onclick="showFunc()" /> Show
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input id="confPassword" asp-for="Input.ConfirmPassword" class="form-control" />
                <input type="checkbox" id="showConfPass" onclick="showConfirmFunc()" /> Show
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="feedback-div">
        <a class="btn btn-primary-feedback mb-2" asp-controller="Feedback" asp-action="Feedback" asp-route-page="Ruilen pagina">Feedback</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
