@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>Wachtwoord reset bevestigd</h1>
<p>
    Uw wachtwoord is gereset. <a asp-page="./Login">Klik hier om in te loggen</a>.
</p>
