@page
@using PlantTrade.Views.Shared;
@model ChangePasswordModel
@{
    ViewData["Title"] = "Verander wachtwoord";
    ViewData["ActivePage"] = ManageProfilePages.ChangePassword;
}

<script>
    function showOldFunc() {
        var checked = document.getElementById("showPassOld").checked;
        if (checked) {
            $("#OldPassword").attr("type", "text");
        } else {
            $("#OldPassword").attr("type", "password");
        }
    };
    function showNewFunc() {
        var checked = document.getElementById("showPassNew").checked;
        if (checked) {
            $("#NewPassword").attr("type", "text");
        } else {
            $("#NewPassword").attr("type", "password");
        }
    };
    function showNewConFunc() {
        var checked = document.getElementById("showPassNewcon").checked;
        if (checked) {
            $("#ConfirmPassword").attr("type", "text");
        } else {
            $("#ConfirmPassword").attr("type", "password");
        }
    };
</script>

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input id="OldPassword" asp-for="Input.OldPassword" class="form-control" />
                <input type="checkbox" id="showPassOld" onclick="showOldFunc()" /> Show
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input id="NewPassword" asp-for="Input.NewPassword" class="form-control" />
                <input type="checkbox" id="showPassNew" onclick="showNewFunc()" /> Show
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input id="ConfirmPassword" asp-for="Input.ConfirmPassword" class="form-control" />
                <input type="checkbox" id="showPassNewcon" onclick="showNewConFunc()" /> Show
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Verander wachtwoord</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}